<!DOCTYPE html>
<html lang="fr">
<%- include("layout/head.ejs") %>
<body>
    <%- include("layout/header.ejs") %>
    <h1>404</h1>
    <p>Oups ! <br> Page Non Trouvée</p>
</body>
<%- include("layout/footer.ejs") %>
</html>