<!DOCTYPE html>
<html lang="fr">
<%- include("layout/head.ejs") %>

<body>
    <%- include("layout/header.ejs") %>

    <main class="notfound">
        <h1>404</h1>
        <p>Oups ! <br> Page non trouvée.</p>
        <a href="/">Retour à l'accueil</a>
    </main>

    <%- include("layout/footer.ejs") %>
</body>
</html>
