<header>
    <div>
        <a href="/">Accueil</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/connexion">Connexion</a>
        <a href="/users">Users</a>
        <a href="/404">Page 404</a>
    </div>
</header>